footer {
  .links {
    background-color: #0282F9;
    height: 200px;
    .link-box {
      float: left;
      height: 200px;
      width: calc(100%/5);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-transform: uppercase;
      img {
        max-height: 80px;
        max-width: 100px;
        margin-right: 10px;
      }
    }
  }

  .footer-list {
    background-image: url(./assets/img/footer-bg.jpg);
    height: 480px;
    padding: 30px 0;
    .wrapper {
      position: relative;
    }
    .footer-list-box {
      float: left;
      margin-right: 50px;
      h3 {
        color: white;
        text-transform: uppercase;
        margin: 30px 0;
      }
      li {
        color: gray;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
          color: white;
        }
      }
    }
    .footer-list-right {
      float: right;
      background-image: url(./assets/img/dc-logo-bg.png);
      height: 550px;
      width: 650px;
      background-size: cover;
      position: absolute;
      top: -100px;
      right: 0;
    }
  }

  .footer-bottom {
    height: 150px;
    background-color: #303030;
    .wrapper {
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .sign-up-button {
      color: white;
      border: 2px solid #0282F9;
      padding: 20px;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      margin-left: 20px;
    }
    h3 {
      color: #0282F9;
      text-transform: uppercase;
    }
    img {
      transition: 0.2s;
      cursor: pointer;
    }
    img:hover {
      filter: brightness(1000%);
    }
  }
}